name: Xrenza Bot

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: pip install -U discord.py

      - name: Run Bot
        env:
          TOKEN: ${{ secrets.TOKEN }}
        run: python bot.py